firecrackers.json
[{"id":"c3c9b3d2.12882","type":"delay","z":"98348193.4b728","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":520,"wires":[["3a6671d7.a5f58e"]]},{"id":"44e3c890.15a9f8","type":"rpi-neopixels","z":"98348193.4b728","name":"Neopixels","pixels":"16","bgnd":"black","fgnd":"black","wipe":"1","mode":"pixelsneedle","rgb":"rgb","x":900,"y":420,"wires":[]},{"id":"8a3887e5.2f19e8","type":"inject","z":"98348193.4b728","name":"Start","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":240,"wires":[["4b4e5280.4b4aec"]]},{"id":"3a6671d7.a5f58e","type":"change","z":"98348193.4b728","name":"Black","rules":[{"t":"set","p":"payload","pt":"msg","to":"Black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":460,"wires":[["44e3c890.15a9f8"]]},{"id":"a93b01ea.c7def","type":"function","z":"98348193.4b728","name":"Increment from 1 to N","func":"\nmsg.payload = parseInt(msg.payload) + 1;\n\nif (msg.payload <= 16)\n    return msg;\n","outputs":1,"noerr":0,"x":200,"y":420,"wires":[["40de1f96.6171e","5f0b1c69.b53c04"]]},{"id":"40de1f96.6171e","type":"function","z":"98348193.4b728","name":"Add White","func":"msg.payload = msg.payload + \",white\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["44e3c890.15a9f8","71771f4f.6e414","c3c9b3d2.12882","61aa329a.a4722c"]]},{"id":"71771f4f.6e414","type":"debug","z":"98348193.4b728","name":"","active":true,"console":"false","complete":"false","x":570,"y":340,"wires":[]},{"id":"5f0b1c69.b53c04","type":"delay","z":"98348193.4b728","name":"","pauseType":"random","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"250","randomLast":"400","randomUnits":"milliseconds","drop":false,"x":200,"y":480,"wires":[["a93b01ea.c7def"]]},{"id":"54561d1.5f456e4","type":"exec","z":"98348193.4b728","command":"mpg123 Crackermulti5secs.mp3","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":620,"y":260,"wires":[[],[],[]]},{"id":"a3e0c3fe.46746","type":"rpi-gpio in","z":"98348193.4b728","name":"Switch","pin":"40","intype":"up","debounce":"50","read":false,"x":70,"y":20,"wires":[["7a363bc3.628f84"]]},{"id":"7a363bc3.628f84","type":"rbe","z":"98348193.4b728","name":"","func":"rbe","gap":"","start":"","inout":"out","x":90,"y":80,"wires":[["15b8841f.9f4c7c"]]},{"id":"c5598827.d56df8","type":"debug","z":"98348193.4b728","name":"","active":true,"console":"false","complete":"false","x":290,"y":20,"wires":[]},{"id":"15b8841f.9f4c7c","type":"change","z":"98348193.4b728","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":140,"wires":[["c5598827.d56df8","4b4e5280.4b4aec"]]},{"id":"340c2382.b4ca3c","type":"rpi-gpio out","z":"98348193.4b728","name":"Fan","pin":"37","set":true,"level":"0","out":"out","x":890,"y":200,"wires":[]},{"id":"f325213.f91b3e","type":"rpi-gpio out","z":"98348193.4b728","name":"E-cig","pin":"35","set":true,"level":"0","out":"out","x":890,"y":40,"wires":[]},{"id":"8c244659.9c1dc8","type":"change","z":"98348193.4b728","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["53408e30.7cb8a","f325213.f91b3e","7b214068.696538"]]},{"id":"53408e30.7cb8a","type":"delay","z":"98348193.4b728","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":120,"wires":[["e1f8713e.58a06"]]},{"id":"e1f8713e.58a06","type":"change","z":"98348193.4b728","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[["482486d.7b29d78"]]},{"id":"60817d99.8fbca4","type":"inject","z":"98348193.4b728","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":470,"y":20,"wires":[["482486d.7b29d78"]]},{"id":"d809b4d9.f12118","type":"inject","z":"98348193.4b728","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":470,"y":60,"wires":[["482486d.7b29d78"]]},{"id":"482486d.7b29d78","type":"function","z":"98348193.4b728","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":40,"wires":[["f325213.f91b3e","340c2382.b4ca3c"]]},{"id":"4b4e5280.4b4aec","type":"function","z":"98348193.4b728","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["49c08073.9c5db","8c244659.9c1dc8"]]},{"id":"61aa329a.a4722c","type":"delay","z":"98348193.4b728","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":600,"wires":[["c3c9b3d2.12882","44e3c890.15a9f8"]]},{"id":"49c08073.9c5db","type":"delay","z":"98348193.4b728","name":"","pauseType":"delay","timeout":"3.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":260,"wires":[["a93b01ea.c7def","54561d1.5f456e4"]]},{"id":"2078f2e7.81463e","type":"inject","z":"98348193.4b728","name":"Test Lights","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":320,"wires":[["a93b01ea.c7def"]]},{"id":"7b214068.696538","type":"delay","z":"98348193.4b728","name":"","pauseType":"delay","timeout":"3.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":200,"wires":[["340c2382.b4ca3c"]]}]